# Ignore the entire public folder and its contents
/public/

# Allow the seeder_photos folder and its contents
!/seeder_photos/
!/seeder_photos/**   # Include all files and subdirectories inside seeder_photos
